/* Global */
:root {
	/* Color */
	--color-white: #ffffff;
	--color-light-white: #eeeeee;
	--color-dark-white: #bdbdbd;
	--color-light-puple: #cabdfd;
	--color-puple: #c99ffb;
	--color-dark-grey: #4d4d4d;
	--color-grey: #616161;
	--color-light-grey: #7c7979;
	--color-blue: #73aace;
	--color-yellow: #fff7d1;
	--color-orange: #feb546;
	--color-black: #000000;
	--color-dark-puple: #3d0364;

	/* Font size */
	--font-large: 48px;
	--font-medium: 28px;
	--font-regular: 18px;
	--font-small: 16px;
	--font-micro: 14px;

	/* Font weight */
	--weight-bold: 700;
	--weight-semi-bold: 600;
	--weight-regular: 400;

	/* Size */
	--size-border-radius: 4px;
}

/* Universal tags */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	cursor: default;
}

a {
	text-decoration: none;
	color: var(--color-white);
}

ul {
	list-style: none;
	padding-left: 0;
}

li {
	list-style: none;
}

button {
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
}

/* Typography */
h1 {
	font-size: var(--font-large);
	font-weight: var(--weight-bold);
	color: var(--color-black);
	margin: 16px 0px;
}

h2 {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
	color: var(--color-black);
	margin: 8px 0px;
}

h3 {
	font-size: var(--font-regular);
	font-weight: var(--weight-regular);
	color: var(--color-black);
	margin: 8px 0px;
}

p {
	font-size: var(--font-regular);
	font-weight: var(--weight-regular);
	color: var(--color-black);
	margin: 4px 0px;
}

/* Navbar */
#navbar {
	display: flex;
	justify-content: space-between;
	background-color: var(--color-light-puple);
	align-items: center;
	color: var(--color-white);
}

.navbar__menu {
	display: flex;
}

.navbar__logo {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
	padding: 8px 12px;
	margin: 0 4px;
	cursor: pointer;
	border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
	border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
	background-color: var(--color-puple);
}

/* Home */
#home {
	background: url('imgs/3.png') center/cover no-repeat;
	padding: 40px;
	text-align: center;
}

.home__avatar {
	width: 250px;
	border-radius: 50%;
	border: 5px double var(--color-dark-puple);
}

.home__title,
.home__description {
	color: var(--color-dark-puple);
}

.home__contact {
	color: var(--color-dark-puple);
	font-size: var(--weight-regular);
	font-weight: var(--weight-bold);
	margin: 24px;
	padding: 8px 12px;
	border: 2px solid var(--color-dark-puple);
	border-radius: var(--size-border-radius);
}
